{% extends "layouts/base.html" %}
{% load static %}

{% block title %}consultorio{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{%  static 'styles/sidebar.css' %}">
<link rel="stylesheet" href="{%  static 'styles/consultorio.css' %}">
{% endblock styles %}

{% block content %}
    {% include "layouts/partials/sidebar.html" %}
    <main class="main">
        <div class="container">
            <div class="div__head">
                <h1>Consultorio</h1>
                <button class="div__btn" id="open-button">Registrar propietario</button>
            </div>
            
            

            <div class="window-background" id="window-background">
                <div class="window-container" id="window-container">
                    <main class="main_propietario">
                            
                        <form id="formularioPropietario" class="main__form" action="/registrar_propietario/" method="post">
                            {% csrf_token %}
                            <div class="titulo">
                                <p>Datos Propietario</p>
                                <hr class="separador">
                            </div>
                            
                            <div class="main__div">
                                <label class="div__label" for="documentoPro">Documento</label>
                                <input class="div__input" type="number" id="documentoPro" name="txtDocumentoP">
                            </div>
        
                            <div class="main__div">
                                <label class="div__label" for="nombrePropietario">Nombres</label>
                                <input class="div__input" type="text" id="nombrePropietario" name="txtNombreP">
                            </div>
                            
                            <div class="main__div">
                                <label class="div__label" for="apellidoMascota">Apellidos</label>
                                <input class="div__input" type="text" id="apellidoMascota" name="txtApellidosP">
                            </div>
                    
                            <div class="main__div completo">
                                <label class="div__label" for="direccionPropietario">Direccion</label>
                                <input class="div__input dir" type="text" id="direccionPropietario"name="txtDireccionP">
                            </div>
                    
                            <div class="main__div pro">
                                <label class="div__label " for="emailPropietario">Email</label>
                                <input class="div__input" type="email" id="emailPropietario" name="txtEmailP">
                            </div>
                    
                            <div class="main__div pro">
                                <label class="div__label" for="numeroPropietario">Celular</label>
                                <input class="div__input" type="num" id="numeroPropietario" name="txtTelP">
                            </div>
                            <br><br><br>
        
                            <div class="separador__container">
                                <p>Datos de Emergencia</p>
                                <hr class="separador">
                            </div>
                    
                            <div class="main__div res">
                                <label class="div__label " for="nomRespaldoPro">Nombre</label>
                                <input class="div__input " type="text" id="nomRespaldoPro" name="txtNombreE">
                            </div>
                    
                            <div class="main__div res">
                                <label class="div__label" for="numRespaldoPro">Celular</label>
                                <input class="div__input " type="number" id="numRespaldoPro" name="txtTelE">
                            </div>
                            
                    
                            <div class="main__div-btn">
                                <button class="div__btn" id="close-button" >Cancelar</button>
                                <input type="submit" value="guardar">
                            </div>
                
                        </form>
                    </main>
                </div>
            </div>
        
            <!--ventana modal de confirmacion-->
            <div id="modal" class="modal">
                <div class="modal-content">
                  <p>¿Estás seguro de que quieres enviar el formulario?</p>
                  <br>
                  <button class="div__btn confirmar" onclick="enviarFormulario()">Sí, enviar</button>
                  <button class="div__btn confirmar" onclick="cerrarModal()">Cancelar</button>
                </div>
            </div>
        
            
            
        </div>
    </main>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/consultorio.js' %}"></script>
{% endblock scripts %}
