{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Inicia Sesión{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{%  static 'styles/login.css' %}">
{% endblock styles %}

{% block content %} 
<div class="div__container">
    <div class="div_logo">
        <img class="logo" src="{%  static 'assets/logoBlanco.svg' %}" alt="Logo">
    </div>
    <div class="div_formulario"> 
            
        <div class="form__div">
            <h1>¡Bienvenido de nuevo!</h1>
        </div>
        
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form__div">
                <label class="form__label" for="usuario">Usuario</label>
                <br>
                <input class="form__input" type="text" id="usuario" name="usuario">
            </div>
            
            <div class="form__div">
                <label class="form__label" for="clave">Contraseña</label>
                <br>
                <input class="form__input" type="password" id="clave" name="clave">
            </div>

            <!--botones-->
            <div class="div__containerBtn">
                <button class="div__button" type="submit">Ingresar</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
